@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

.title-color {
    color: #b93c6f;
}

.img-size {
    width: 100%;
}

.font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.font-size {
    font-size: 55px;
}

.color-sub {
    color: rgb(145, 141, 141);
}

.margin-sub {
    margin: 20px 0;
}

.font-regular {
    font-family: 'Open Sans', sans-serif;
}

.color-gradient {
    background: #1FA2FF;
    background: -moz-linear-gradient(left,  #1FA2FF 0%, #12D8FA 100%); 
    background: -webkit-linear-gradient(left,  #1FA2FF 0%,#12D8FA 100%); 
    background: linear-gradient(to right,  #1FA2FF 0%,#12D8FA 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1FA2FF', endColorstr='#12D8FA',GradientType=1 ); 
}

.btn-default {
    border-radius: 20px;
    color: white;
}

.btn-default:hover {
    color: white;
}

@media (max-width: 768px) {
    .font-size {
        text-align: center;
        padding: 20px 0 0 0;
    }

    .color-sub {
        text-align: center;
    }

    .button {
    position: relative;
    left: 14vh;
    }

    .img-size {
        width: 75%;
    }
}